.navbar {
    background-color: transparent;
    border: none;
    font-size: 14px;
}

.navbar-brand {
    height: 50px;
    padding: 15px 15px;
    font-size: 33px;
    line-height: 20px;
}

.nav>li>a {
    color: #171414;
    font-size: 15px;
}

.navsign {
    width: 108px;
    height: 41px;
    background-color: #ffffff;
    line-height: 7.29;
    color: #091cf7;
    font-size: 14px;
    margin-top: 5px;
    transition: all 0.4s ease-in;
}

.navsign1 {
    padding: 9px 29px !important;
    color: #091cf7;
}
hr{
    border: 0.5px solid black;
}
.pg-opt-pin{
border-bottom: none;
}
#page-content{
min-height: 700px;
border:1px solid #e0eded;
}
#panel{
border: 2px solid #cde0f0;
}
.panel-heading{
    font-size: 19px;
    color: #423636;
    background-color: #cde0f0;
    border: 1px solid #cde0f0;
    padding-left: 5px; 
}
.descriptor{
    margin-top: 30px; 
}
.list-group-item{
    color: #999;
}
span{
    margin-right: 10px;
}
.panel-body{
    font-size: 19px;
    padding-left: 6px;
}
.panel-footer{
    text-align: right;
}